<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ "Backoffice | Annuaire inversé en ligne"|trans }}{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('gentelella/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('gentelella/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('gentelella/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
            <link href="{{ asset('gentelella/css/custom.min.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="{{ path('users_phone_index') }}" class="site_title">
                                <i class="fa fa-cogs"></i>
                                <span>{{ "Administration"|trans }}</span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="{{ path('index_page') }}" title="{{ "Se rendre sur la page d'accueil du site"|trans }}">
                                            <i class="fa fa-home"></i>
                                            {{ "Retour à la page d'accueil"|trans }}
                                        </a>
                                    </li>
                                    <li><a><i class="fa fa-book"></i> {{ "Annuaire"|trans }} <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="{{ path('users_phone_index') }}">{{ "Liste"|trans }}</a></li>
                                            <li><a href="{{ path('users_phone_new') }}">{{ "Creér une nouvelle entrée"|trans }}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{{ path('app_logout') }}" title="{{ "Se déconnecter"|trans }}">
                                        {{ "Se déconnecter"|trans }}
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="right_col" role="main">
                    <div class="row" style="min-height: 700px;">
                        {% for message in app.flashes('notice') %}
                            <div class="clearfix"></div>
                            <div class="alert alert-success alert-dismissible fade in">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('gentelella/vendors/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('gentelella/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('gentelella/vendors/fastclick/lib/fastclick.js') }}"></script>
            <script src="{{ asset('gentelella/vendors/nprogress/nprogress.js') }}"></script>
            <script src="{{ asset('gentelella/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
            <script src="{{ asset('gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
            <script src="{{ asset('gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
            <script src="{{ asset('gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
            <script src="{{ asset('gentelella/js/custom.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
